extends layout.pug
  
block content
  h4 #[b Cocain], a Cost Calculator Interface

  .row
    .col
      h5 About this project
      
      p This is a cost calculator app that takes some stock of resources and some product recipes, it then tries to calculate the cost of the project.

      p It was made using nodejs, as an attempt to getting to know the language, I have always been exposed to Javascript in one way or another, but it had always reminded as support language, I tried to use it as little as possible, but after getting to know it, I have found it extremely friendly and it fills a lot of the gaps I had found in other languages.
    .col
      h5 My wife
      p The project came as an idea to help my wife measure her projects' costs, she is always working on something that takes a resource and transforms it into something else, for example deserts, stickers and t-shirts, to name a few.  

      p My wife has been a great source of inspiration and she has been helping a lot, testing the app, offering feedback and finding bugs, her contribution has been invaluable.
  .row
    .col
      h5 How to use this tool:

      p Let's use an example as a starting point, I have always liked using a chocolate milk project to do some tests, the instructions here are brief and simple, the interface should be easy enough so that you will find your way on your own.

      ol
        li First we need to add some resources, let's add a bottle milk, each bottle of milk has 1000ml and it has a price of $1.

        li Add a can of chocolate powder, it contains 400g of chocolate and a price of $2.

        li Add a new product, it will be a set of glasses of chocolate milk, it'll need some components, which are:
          ol
            li 200ml of milk.
            li 15g of chocolate.



        


    
