extends layout.pug

block content
  .row
    .col
      .modal-header
        h5 Product management

      p.
        Products control each recipe, it's where the resources are consumed.

      p. 
        A product can have an <b>amount</b>, which tells how many products you
        want to produce. If it is <u>not defined</u>, it means you want to make
        as many products as possible given the allocated resources.

      p. 
        Products have <b>components</b>, they are the recipe's structure. There
        are two stages of consumption, the default <b>Per product</b> means
        the resource will be consumed for each individual product that's calculated, 
        while the other option, <b>One Time Cost</b> means the resource is spent once
        at the beginning of the operation, before working on the products
        themselves.


  .row#data
    .col-lg-4#infoBlock
      .card
        .card-header Product Info
        .card-body
          .form-group
            label(for='name') Name
            input.form-control(type='text' name='name')
          .form-group
            label(for='amount') Amount of products to make
            input.form-control(type='text' name='amount')
        .modal-footer
          button#save.btn.btn-primary(type='button') Save
          button#addComponent.btn.btn-success(type='button') + Component
          a#close.btn.btn-secondary(href='/') Cancel

    .col-lg-4#componentTemplate.component
      .card
        .card-header Component
          button.close(type='button')
            span(aria-hidden='true') &times;
        .card-body
          .form-group
            label(for='stage') Stage
            select.form-control(name='stage' data-value='stage')
              option(value="product") Per Product
              option(value="setup") One Time Cost
          .form-group
            label(for='resource') Resource
            select.form-control(name='resource' data-value='resource')
          .form-group
            label(for='amount') Amount
            input.form-control(type='text' name='amount' data-value='amount')
    

  script(src='/assets/product.js')
  script.
    setup(#{id})



