extends layout.pug

block content
  .row
    .col-4
      .modal-header
        h5.modal-title Resource
      .modal-body
        form
          .form-group
            label(for='name') Name
            input.form-control(type='text' name='name')
          .form-group
            label(for='cost') Cost
            input.form-control(type='text' name='cost')
          .form-group
            label(for='capacity') Capacity per unit
            input.form-control(type='text' name='capacity')
          .form-group
            label(for='amount') Amount of units
            input.form-control(type='text' name='amount')
      .modal-footer
        button#save.btn.btn-primary(type='button') Save
        a#close.btn.btn-secondary(href='/ui') Cancel

  script(src='/assets/resource.js')
  script.
    sessionEdit(#{id}, '#save', '#close').then(() => {
      window.location.href = '/ui'
    })


