extends layout.pug

block content
  .row
    .col-lg-3
      .modal-header
        h5.modal-title Resource
      .modal-body
        .form-group
          label(for='name') Name
          input.form-control(type='text' name='name')
        .form-group
          label(for='unit') Units
          input.form-control(type='text' name='unit')
        .form-group
          label(for='capacity') Capacity Per Container
          input.form-control(type='text' name='capacity')
        .form-group
          label(for='amount') Amount of Containers
          input.form-control(type='text' name='amount')
        .form-group
          label(for='cost') Cost Per Container
          input.form-control(type='text' name='cost')
      .modal-footer
        button#save.btn.btn-primary(type='button') Save
        a#close.btn.btn-secondary(href='/') Cancel
    .col-lg-8
      div.modal-header
        h5 Information

      p.
        Resources define your stock of materials, each resource has a cost per
        unit, an amount of units and a raw capacity.

      p.
        If the <b>amount</b> is not defined, the resource is infinite, otherwise
        it is the number of units of this resource that have been purchased, if
        they're not consumed, it's considered waste, and the cost is divided
        divided between the products that used the resource.

      p.
        <b>Units</b> is the basic unit type this resource uses, for example grams,
        liters, mililiters. It's better if you use short names.

      p.
        <b>Capacity</b> is the amount of units each full container has.  If capacity is not defined, it is set to 1.


      p.
        The <b>Cost Per Container</b> will be divided between the products using
        the resource. If there are wasted resources, the cost of the unused resources
        will be prorated between them.

      p.  
        <b>For example</b>, a bottle of 1 liter of milk will have a capacity of 1000 (ml),
        if the amount is 1, it means we bought one 1000ml bottle of milk, the 
        products will be able to consume milliliters from this resource. 


  script(src='/assets/resource.js')
  script.
    sessionEdit(#{id}, 'save', 'close').then(() => {
      window.location.href = '/'
    })


