<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Simple project cost calculator">
    <meta name="author" content="Sergio Duran">

    <title>Simple Cost Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-print-json@0.0/dist/pretty-print-json.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/pretty-print-json@0.0/dist/pretty-print-json.min.js"></script>
  </head>
  <body>
      <div class="container">
          <div class="row">
              <div class="col-sm">
                      This app can calculate the costs for a project, how many products you can make, and how many resources you need to buy. It can automatically fill in the amounts if needed.<br>
                      For example, you can use it to calculate:<br>
                      <ul>
                          <li>How much it would cost to <a href="#" onclick="return loadJSON('https://raw.githubusercontent.com/Sheco/costCalculator/master/samples/chocomilk.json')">make 60 glasses of chocolate milk</a>, and how much milk and chocolate you would need.</li>
                          <li>How much it would cost to <a href="#" onclick="return loadJSON('https://raw.githubusercontent.com/Sheco/costCalculator/master/samples/chocomilk5liters.json')">make as many glasses of chocolate milk using 5 liters of milk</a>, and how much chocolate you need.</li>
                     </ul>
                 </p>
                  <p>
                    You need to use valid JSON code, the syntax is simple but writing it can be a little daunting at first, you can use a JSON linter to validate the code,
                    for example: <a href="https://jsonlint.com/" target="_blank">https://jsonlint.com/</a>
                  </p>

              </div>
          </div>

          <div class="row">
              <div class="col-sm">
                  <form>
                      <div class="form-group">
                          <label for="src">Enter the JSON code:</label>
                          <textarea name="src" id="src" class="form-control" rows="15" cols="40">{{src}}</textarea>
                      </div>
                      <button class="btn btn-primary" onclick="return calculate()">Calculate</button>
                  </form>

                  <br>

                  <form>
                      <div class="form-group">
                      <label for="url">Load JSON from a URL:</label>
                          <div class="input-group">
                              <input class="form-control" type="text" name="url" id="url">
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" onclick="return loadJSON($('#url').val())">Load</button>
                              </div>
                          </div>
                  </div>
                  </form>
                  Load JSON from one of the predefined samples, from <a href="https://github.com/Sheco/costCalculator/tree/master/samples">https://github.com/Sheco/costCalculator/tree/master/samples</a>, it's worth mentioning that the prices there are in Mexican pesos.
                  <ul id="samples"></ul>
              </div>
              <div class="col-sm">
                  Result:<br> <pre id="result"></pre>
              </div>
          </div>

          <div class="row">
              <div class="col-sm">
                  <p>
                    The source code is available at <a href="https://github.com/Sheco/costCalculator">https://github.com/Sheco/costCalculator</a>
                    There you will find this app's documentation.
                  </p>

                  <p>
                    Written by Sergio Duran.
                  <p>
              </div>
          </div>
      </div>
    <script>
        function calculate() {
            $("#result").html('Loading...')

            $.post('/api', {
                src: $("#src").val()
            }, function(data) {
                $("#result").html(prettyPrintJson.toHtml(data))
            }, "json")

            return false
        }

        function loadJSON(url) {
            $.get(url, function(json) {
                $("#src").val(json)
                calculate()
            });
            return false;
        }

        $(function() {
            let root = 'https://raw.githubusercontent.com/Sheco/costCalculator/master/samples/'
            let samples = {
                'Bibs': root+'bibs.json',
                'Chocomilk': root+'chocomilk.json',
                'Stickers': root+'stickers.json',
                'Chocoavena': root+'chocoavena.json',
                'Fabric Tree': root+'tree.json'
            };

            let samples_ul = $("#samples");
            for (let [name, url] of Object.entries(samples)) {
                samples_ul.append($(`<li><a href="${url}" onclick="return loadJSON('${url}')">${name}</a></li>`));
            }
        });
    </script>
  </body>
</html>
